.contenaire {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(image/background/Victime.gif);
  -webkit-mask-image: linear-gradient(180deg, 
    black 60%, 
    transparent 60%, 
    black 80%, 
    transparent 100%
  );
  mask-image: linear-gradient(180deg, 
    black 60%, 
    transparent 60%, 
    black 80%, 
    transparent 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 20rem;
  color:aliceblue;
  word-break: break-all;
  position: fixed;
  top: 1%;
  left: 2%;
  margin: 1% 0;
  line-height: 1em;
}
@media (max-width: 600px) {
  .hero {
    background-size: 814px 458px;
    background-color: rgba(35, 35, 35, 1);

  }
  h1 {
      font-size: 9.5rem;
      line-height: 1em;

  }

  p {
      padding: 0 10px;
  }

  button {
      width: 100%;
      font-size: 1.2rem;
  }
}