body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  height: 100vh; /* Hauteur de la fenêtre */
}

.hero-image {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("image/background/Victime.gif");
  background-color: rgba(35, 35, 35, 1); /* Couleur de fond */
  position: relative;
  width: 100%;
  height: 100%; /* S'assurer que l'image recouvre toute la hauteur */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 20rem;
  color: aliceblue;
  word-break: break-all;
  position: fixed;
  top: 1%;
  left: 2%;
  margin: 1% 0;
  line-height: 1em;
  z-index: 2;
}

@media (max-width: 600px) {
  .hero-image {
    background-image: 
      linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), 
      linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
      url("image/background/Victime.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(35, 35, 35, 1); /* Couleur de fond */
    max-width: 814px; /* Largeur maximale */
    max-height: 458px; /* Hauteur maximale */
  }

  h1 {
    font-size: 9.5rem;
    line-height: 1em;
  }

  p {
    padding: 0 10px;
  }

  button {
    width: 100%;
    font-size: 1.2rem;
  }
}